body,div{
	margin: 0;
	padding: 0;
}

div{
	display: inline-block;
	border: 2px solid ;
	text-align: center;
	padding: 0 40px;
	width: 800px;
	height: 600px;
}
img.one-img1{
	width: 80%;
	height: 60%;
}

