body,div{
	margin: 0;
	padding: 0;
}

div.album{
	display: inline-block;
	border: 2px solid ;
	text-align: center;
	width: 800px;
	height: 500px;
	background-color: #eee;
	position: relative;
	z-index: 0;
	overflow-y:auto; 
	overflow-x:hidden;
}
/*
div img{
	height: 100%;
	width: 100%;
}
*/

.one-img1{
	width: 80%;
	height: 100%;
}

.two-img1{
	height: 100%;
	width: 80%;
	transform: translateX(-21.33333%);	
	-ms-transform: translateX(-21.33333%);
	-webkit-clip-path: polygon(33.33333% 0, 100% 0, 66.66666% 100%, 33.33333% 100%);
    clip-path: polygon(33.33333% 0, 100% 0, 66.66666% 100%, 33.33333% 100%);
}

.two-img2{
	height: 100%;
	width: 80%;
	transform: translate(45.33333%, -100%);
	-ms-transform: translate(45.33333%, -100%);
    -webkit-clip-path: polygon(33.33333% 0, 66.66666% 0, 66.66666% 100%, 0% 100%);
    clip-path: polygon(33.33333% 0, 66.66666% 0, 66.66666% 100%, 0% 100%);
}

.three-img1{
	height: 100%;
	width: 53.33333%;
	margin-left: 10%;
	float: left;
}
.three-img2, .three-img3{
	float: left;
	height: 50%;
	width: 26.66666%;
}

.four-img1, .four-img2, .four-img3, .four-img4{
	height: 50%;
	width: 40%;
	display: inline-block;
} 

.five-img1{
	height: 66.66666%;
	width: 53.33333%;
	float: left;
	margin-left: 10%;
}
.five-img2{
	width: 26.66666%;
	height: 40%;
	float: left;
} 
.five-img4, .five-img5{
	width: 26.66667%;
	height: 33.33333%;
	float: left;
	transform: translateY(-100%);
	-ms-transform: translateY(-100%);
}
.five-img4{
	margin-left: 10%;
}
.five-img3{
	width: 26.66666%;
	height: 60%;
	float: left;
}

.six-img1, .six-img2, .six-img3, .six-img4, .six-img5, .six-img6{
	float: left;
}
.six-img1{
	height: 66.66666%;
	width: 53.33333%;
	margin-left: 10%;
}
 .six-img4{
 	margin-left: 10%;
 }
.six-img2, .six-img3, .six-img4, .six-img5, .six-img6{
	height: 33.33334%;
	width: 26.66666%; 
}

div.album div {
	width: 210px;
	border: solid 1px #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	padding: 5px 10px;
	float: left;
}
div.album div img{
	width: 210px;
	cursor: pointer;
}